:root{
    --dark-blue-bg:#111823;
    --light-blue-line:#1a2433;
    --gray-text:#606064;
    --dark-gray-line:#3f434f;
    --mustard-yellow-text:#ceac23;
    --yellow-bg:#fefe95;
    --darker-yellow-bg:#efef8b;
    --yellow-text:#a65613;
    
}

@font-face {
    font-family: 'Pixelar-Regular-W01-Regular';
    src: local('Pixelar-Regular-W01-Regular'),
    url('../fonts/Pixelar-Regular-W01-Regular.ttf');
}


*{
    margin:0;
    padding:0;
    box-sizing: border-box;

    margin-block-start:0; margin-block-end:0; margin-inline-start:0; margin-inline-end:0;
padding-block-start:0; padding-block-end:0; padding-inline-start:0; padding-inline-end:0;
}


body{
    background-color: var(--dark-blue-bg);
    color:white;
    margin:0 auto;
    line-height: 1.4;
    font-family: 'Pixelar-Regular-W01-Regular';
}



@media (min-width:768px) { 
    body{
        width:60%;
    }
}

p{
    display:block;
}